/* screen - 27 */

#overlay-27 {
  background-color: transparent;
  position: absolute;
}
#overlay-27 .27 {
  left: 29.76714324951172px;
  top: 246.76712036132812px;
}
#overlay-27 .container-center-horizontal {
  justify-content: normal;
}
.overlay .x27 {
  background-color: #00000000;
}
.x27 {
  background-color: transparent;
  height: 390px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 429px;
}
.x27 .ellipse-10-MF1grx {
  background-color: transparent;
  border-radius: 5px;
  height: 10px;
  left: 199px;
  position: absolute;
  top: 3px;
  width: 10px;
}
.x27 .ellipse-11-MF1grx {
  background-color: transparent;
  border-radius: 5px;
  height: 10px;
  left: 199px;
  position: absolute;
  top: 29px;
  width: 10px;
}
.x27 .ellipse-12-MF1grx {
  background-color: transparent;
  border-radius: 5px;
  height: 10px;
  left: 199px;
  position: absolute;
  top: 55px;
  width: 10px;
}
.x27 .ellipse-3-7ZhfBy {
  background-color: var(--eagle);
  border-radius: 5px;
  height: 10px;
  left: 45px;
  mix-blend-mode: normal;
  position: absolute;
  top: 309px;
  width: 10px;
}
.x27 .ellipse-4-7ZhfBy {
  background-color: var(--smashed-pumpkin);
  border-radius: 5px;
  height: 10px;
  left: 374px;
  mix-blend-mode: normal;
  position: absolute;
  top: 309px;
  width: 10px;
}
.x27 .ellipse-5-7ZhfBy {
  background-color: transparent;
  border-radius: 5px;
  height: 10px;
  left: 131px;
  position: absolute;
  top: 309px;
  width: 10px;
}
.x27 .ellipse-6-7ZhfBy {
  background-color: transparent;
  border-radius: 9.5px;
  height: 19px;
  left: 205px;
  position: absolute;
  top: 362px;
  width: 19px;
}
.x27 .ellipse-7-7ZhfBy {
  background-color: var(--twine);
  border-radius: 5px;
  height: 10px;
  left: 210px;
  mix-blend-mode: normal;
  position: absolute;
  top: 309px;
  width: 10px;
}
.x27 .ellipse-7-MF1grx {
  background-color: transparent;
  border-radius: 5px;
  height: 10px;
  left: 0px;
  position: absolute;
  top: 3px;
  width: 10px;
}
.x27 .ellipse-8-MF1grx {
  background-color: transparent;
  border-radius: 5px;
  height: 10px;
  left: 0px;
  position: absolute;
  top: 29px;
  width: 10px;
}
.x27 .ellipse-9-MF1grx {
  background-color: transparent;
  border-radius: 5px;
  height: 10px;
  left: 0px;
  position: absolute;
  top: 55px;
  width: 10px;
}
.x27 .group-6-ZrmZAr {
  background-color: transparent;
  height: 390px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 441px;
}
.x27 .group-8-7ZhfBy {
  background-color: transparent;
  height: 67px;
  left: 45px;
  position: absolute;
  top: 209px;
  width: 386px;
}
.x27 .rectangle-1-7ZhfBy {
  background-color: var(--log-cabin);
  border-radius: 15px;
  height: 390px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 429px;
}
.x27 .rectangle-4-7ZhfBy {
  background-color: transparent;
  height: 8px;
  left: 35px;
  mix-blend-mode: normal;
  position: absolute;
  top: 330px;
  width: 359px;
}
.x27 .textlabel-5d4HkO {
  background-color: transparent;
  height: auto;
  left: 221px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 26px;
  width: 155px;
}
.x27 .textlabel-5xtxP2 {
  background-color: transparent;
  height: auto;
  left: 298px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: right;
  top: 344px;
  width: 98px;
}
.x27 .textlabel-7ZhfBy {
  background-color: transparent;
  height: auto;
  left: 35px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 344px;
  width: 98px;
}
.x27 .textlabel-AYxzDW {
  background-color: transparent;
  height: auto;
  left: 22px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 26px;
  width: 159px;
}
.x27 .textlabel-MF1grx {
  background-color: transparent;
  height: auto;
  left: 22px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 155px;
}
.x27 .textlabel-SZGF4H {
  background-color: transparent;
  height: auto;
  left: 167px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 344px;
  width: 98px;
}
.x27 .textlabel-VXUfPV {
  background-color: transparent;
  height: auto;
  left: 221px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 52px;
  width: 155px;
}
.x27 .textlabel-pvBqMm {
  background-color: transparent;
  height: auto;
  left: 221px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 155px;
}
.x27 .textlabel-ulLaqs {
  background-color: transparent;
  height: auto;
  left: 22px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 52px;
  width: 163px;
}
.x27 .x-5xtxP2 {
  background-color: transparent;
  height: auto;
  left: 202px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 60px;
  width: 194px;
}
.x27 .x-7ZhfBy {
  background-color: transparent;
  height: 15px;
  left: 209px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 364px;
  width: 13px;
}
.x27 .x-SZGF4H {
  background-color: transparent;
  cursor: pointer;
  height: 15px;
  left: 402px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 15px;
  width: 13px;
}
.x27 .x1-rose-quartz-7ZhfBy {
  background-color: transparent;
  height: 212px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 212px;
}
