/* screen - 29 */

#overlay-29 {
  background-color: transparent;
  position: absolute;
}
#overlay-29 .29 {
  left: 29.76709747314453px;
  top: 246.8445587158203px;
}
#overlay-29 .container-center-horizontal {
  justify-content: normal;
}
.overlay .x29 {
  background-color: #00000000;
}
.x29 {
  background-color: transparent;
  height: 390px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 429px;
}
.x29 .ellipse-10-8oJYoJ {
  background-color: transparent;
  border-radius: 5px;
  height: 10px;
  left: 199px;
  position: absolute;
  top: 3px;
  width: 10px;
}
.x29 .ellipse-11-8oJYoJ {
  background-color: transparent;
  border-radius: 5px;
  height: 10px;
  left: 199px;
  position: absolute;
  top: 29px;
  width: 10px;
}
.x29 .ellipse-12-8oJYoJ {
  background-color: transparent;
  border-radius: 5px;
  height: 10px;
  left: 199px;
  position: absolute;
  top: 55px;
  width: 10px;
}
.x29 .ellipse-3-1wffBP {
  background-color: var(--smashed-pumpkin);
  border-radius: 5px;
  height: 10px;
  left: 45px;
  mix-blend-mode: normal;
  position: absolute;
  top: 309px;
  width: 10px;
}
.x29 .ellipse-4-1wffBP {
  background-color: var(--shampoo);
  border-radius: 5px;
  height: 10px;
  left: 374px;
  mix-blend-mode: normal;
  position: absolute;
  top: 309px;
  width: 10px;
}
.x29 .ellipse-5-1wffBP {
  background-color: transparent;
  border-radius: 5px;
  height: 10px;
  left: 192px;
  position: absolute;
  top: 309px;
  width: 10px;
}
.x29 .ellipse-6-1wffBP {
  background-color: transparent;
  border-radius: 9.5px;
  height: 19px;
  left: 205px;
  position: absolute;
  top: 362px;
  width: 19px;
}
.x29 .ellipse-7-1wffBP {
  background-color: var(--purple-plum);
  border-radius: 5px;
  height: 10px;
  left: 210px;
  mix-blend-mode: normal;
  position: absolute;
  top: 309px;
  width: 10px;
}
.x29 .ellipse-7-8oJYoJ {
  background-color: transparent;
  border-radius: 5px;
  height: 10px;
  left: 0px;
  position: absolute;
  top: 3px;
  width: 10px;
}
.x29 .ellipse-8-8oJYoJ {
  background-color: transparent;
  border-radius: 5px;
  height: 10px;
  left: 0px;
  position: absolute;
  top: 29px;
  width: 10px;
}
.x29 .ellipse-9-8oJYoJ {
  background-color: transparent;
  border-radius: 5px;
  height: 10px;
  left: 0px;
  position: absolute;
  top: 55px;
  width: 10px;
}
.x29 .group-6-Qw6xj3 {
  background-color: transparent;
  height: 390px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 441px;
}
.x29 .group-8-1wffBP {
  background-color: transparent;
  height: 67px;
  left: 45px;
  position: absolute;
  top: 209px;
  width: 386px;
}
.x29 .rectangle-1-1wffBP {
  background-color: var(--log-cabin);
  border-radius: 15px;
  height: 390px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 429px;
}
.x29 .rectangle-4-1wffBP {
  background-color: transparent;
  height: 8px;
  left: 35px;
  mix-blend-mode: normal;
  position: absolute;
  top: 330px;
  width: 359px;
}
.x29 .textlabel-1wffBP {
  background-color: transparent;
  height: auto;
  left: 202px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 60px;
  width: 194px;
}
.x29 .textlabel-3Lk1G0 {
  background-color: transparent;
  height: auto;
  left: 22px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 26px;
  width: 159px;
}
.x29 .textlabel-8oJYoJ {
  background-color: transparent;
  height: auto;
  left: 22px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 155px;
}
.x29 .textlabel-KJhJVM {
  background-color: transparent;
  height: auto;
  left: 221px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 155px;
}
.x29 .textlabel-Llexpb {
  background-color: transparent;
  height: auto;
  left: 35px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 344px;
  width: 98px;
}
.x29 .textlabel-O24sRY {
  background-color: transparent;
  height: auto;
  left: 298px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: right;
  top: 344px;
  width: 98px;
}
.x29 .textlabel-bTTpB3 {
  background-color: transparent;
  height: auto;
  left: 221px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 52px;
  width: 138px;
}
.x29 .textlabel-gPzPfe {
  background-color: transparent;
  height: auto;
  left: 22px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 52px;
  width: 163px;
}
.x29 .textlabel-vikUrP {
  background-color: transparent;
  height: auto;
  left: 221px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 26px;
  width: 151px;
}
.x29 .textlabel-zcV4ln {
  background-color: transparent;
  height: auto;
  left: 167px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 344px;
  width: 98px;
}
.x29 .x-1wffBP {
  background-color: transparent;
  height: 15px;
  left: 209px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 364px;
  width: 13px;
}
.x29 .x-Llexpb {
  background-color: transparent;
  cursor: pointer;
  height: 15px;
  left: 402px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 15px;
  width: 13px;
}
.x29 .x1-rose-quartz-1wffBP {
  background-color: transparent;
  height: 212px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 212px;
}
