/* screen - 37 */

#overlay-37 {
  background-color: transparent;
  position: absolute;
}
#overlay-37 .37 {
  left: 29.76714324951172px;
  top: 246.76712799072266px;
}
#overlay-37 .container-center-horizontal {
  justify-content: normal;
}
.overlay .x37 {
  background-color: #00000000;
}
.x37 {
  background-color: transparent;
  height: 390px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 429px;
}
.x37 .ellipse-10-ueATfx {
  background-color: transparent;
  border-radius: 5px;
  height: 10px;
  left: 199px;
  position: absolute;
  top: 3px;
  width: 10px;
}
.x37 .ellipse-11-ueATfx {
  background-color: transparent;
  border-radius: 5px;
  height: 10px;
  left: 199px;
  position: absolute;
  top: 29px;
  width: 10px;
}
.x37 .ellipse-12-ueATfx {
  background-color: transparent;
  border-radius: 5px;
  height: 10px;
  left: 199px;
  position: absolute;
  top: 55px;
  width: 10px;
}
.x37 .ellipse-3-NlPfrK {
  background-color: var(--eucalyptus);
  border-radius: 5px;
  height: 10px;
  left: 45px;
  mix-blend-mode: normal;
  position: absolute;
  top: 309px;
  width: 10px;
}
.x37 .ellipse-4-NlPfrK {
  background-color: var(--eagle);
  border-radius: 5px;
  height: 10px;
  left: 374px;
  mix-blend-mode: normal;
  position: absolute;
  top: 309px;
  width: 10px;
}
.x37 .ellipse-5-NlPfrK {
  background-color: transparent;
  border-radius: 5px;
  height: 10px;
  left: 176px;
  position: absolute;
  top: 309px;
  width: 10px;
}
.x37 .ellipse-6-NlPfrK {
  background-color: transparent;
  border-radius: 9.5px;
  height: 19px;
  left: 205px;
  position: absolute;
  top: 362px;
  width: 19px;
}
.x37 .ellipse-7-NlPfrK {
  background-color: var(--waterloo-);
  border-radius: 5px;
  height: 10px;
  left: 210px;
  mix-blend-mode: normal;
  position: absolute;
  top: 309px;
  width: 10px;
}
.x37 .ellipse-7-ueATfx {
  background-color: transparent;
  border-radius: 5px;
  height: 10px;
  left: 0px;
  position: absolute;
  top: 3px;
  width: 10px;
}
.x37 .ellipse-8-ueATfx {
  background-color: transparent;
  border-radius: 5px;
  height: 10px;
  left: 0px;
  position: absolute;
  top: 29px;
  width: 10px;
}
.x37 .ellipse-9-ueATfx {
  background-color: transparent;
  border-radius: 5px;
  height: 10px;
  left: 0px;
  position: absolute;
  top: 55px;
  width: 10px;
}
.x37 .group-6-rpMxxC {
  background-color: transparent;
  height: 390px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 441px;
}
.x37 .group-8-NlPfrK {
  background-color: transparent;
  height: 67px;
  left: 45px;
  position: absolute;
  top: 209px;
  width: 386px;
}
.x37 .rectangle-1-NlPfrK {
  background-color: var(--log-cabin);
  border-radius: 15px;
  height: 390px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 429px;
}
.x37 .rectangle-4-NlPfrK {
  background-color: transparent;
  height: 8px;
  left: 35px;
  mix-blend-mode: normal;
  position: absolute;
  top: 330px;
  width: 359px;
}
.x37 .textlabel-Dj0zmr {
  background-color: transparent;
  height: auto;
  left: 22px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 52px;
  width: 163px;
}
.x37 .textlabel-Gx8SiH {
  background-color: transparent;
  height: auto;
  left: 167px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 344px;
  width: 98px;
}
.x37 .textlabel-Km7P3C {
  background-color: transparent;
  height: auto;
  left: 221px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 155px;
}
.x37 .textlabel-NlPfrK {
  background-color: transparent;
  height: auto;
  left: 202px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 60px;
  width: 194px;
}
.x37 .textlabel-ZGgKKP {
  background-color: transparent;
  height: auto;
  left: 22px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 26px;
  width: 151px;
}
.x37 .textlabel-b6nCkz {
  background-color: transparent;
  height: auto;
  left: 221px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 52px;
  width: 146px;
}
.x37 .textlabel-dOSyf7 {
  background-color: transparent;
  height: auto;
  left: 298px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: right;
  top: 344px;
  width: 98px;
}
.x37 .textlabel-ueATfx {
  background-color: transparent;
  height: auto;
  left: 22px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 155px;
}
.x37 .textlabel-vy7F39 {
  background-color: transparent;
  height: auto;
  left: 35px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 344px;
  width: 98px;
}
.x37 .textlabel-x4R2cY {
  background-color: transparent;
  height: auto;
  left: 221px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 26px;
  width: auto;
}
.x37 .x-NlPfrK {
  background-color: transparent;
  height: 15px;
  left: 209px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 364px;
  width: 13px;
}
.x37 .x-vy7F39 {
  background-color: transparent;
  cursor: pointer;
  height: 15px;
  left: 402px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 15px;
  width: 13px;
}
.x37 .x1-rose-quartz-NlPfrK {
  background-color: transparent;
  height: 212px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 212px;
}
