/* screen - 6-red-jasper */

#overlay-6-red-jasper {
  background-color: transparent;
  position: absolute;
}
#overlay-6-red-jasper .6-red-jasper {
  left: 29.76714324951172px;
  top: 246.76712799072266px;
}
#overlay-6-red-jasper .container-center-horizontal {
  justify-content: normal;
}
.overlay .x6-red-jasper {
  background-color: #00000000;
}
.x6-red-jasper {
  background-color: transparent;
  height: 390px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 429px;
}
.x6-red-jasper .ellipse-10-xyaQxa {
  background-color: transparent;
  border-radius: 5px;
  height: 10px;
  left: 199px;
  position: absolute;
  top: 3px;
  width: 10px;
}
.x6-red-jasper .ellipse-11-xyaQxa {
  background-color: transparent;
  border-radius: 5px;
  height: 10px;
  left: 199px;
  position: absolute;
  top: 29px;
  width: 10px;
}
.x6-red-jasper .ellipse-12-xyaQxa {
  background-color: transparent;
  border-radius: 5px;
  height: 10px;
  left: 199px;
  position: absolute;
  top: 55px;
  width: 10px;
}
.x6-red-jasper .ellipse-3-8HYVYq {
  background-color: var(--eucalyptus);
  border-radius: 5px;
  height: 10px;
  left: 45px;
  mix-blend-mode: normal;
  position: absolute;
  top: 309px;
  width: 10px;
}
.x6-red-jasper .ellipse-4-8HYVYq {
  background-color: var(--eagle);
  border-radius: 5px;
  height: 10px;
  left: 374px;
  mix-blend-mode: normal;
  position: absolute;
  top: 309px;
  width: 10px;
}
.x6-red-jasper .ellipse-5-8HYVYq {
  background-color: transparent;
  border-radius: 5px;
  height: 10px;
  left: 182px;
  position: absolute;
  top: 309px;
  width: 10px;
}
.x6-red-jasper .ellipse-6-8HYVYq {
  background-color: transparent;
  border-radius: 9.5px;
  height: 19px;
  left: 205px;
  position: absolute;
  top: 362px;
  width: 19px;
}
.x6-red-jasper .ellipse-7-8HYVYq {
  background-color: var(--waterloo-);
  border-radius: 5px;
  height: 10px;
  left: 210px;
  mix-blend-mode: normal;
  position: absolute;
  top: 309px;
  width: 10px;
}
.x6-red-jasper .ellipse-7-xyaQxa {
  background-color: transparent;
  border-radius: 5px;
  height: 10px;
  left: 0px;
  position: absolute;
  top: 3px;
  width: 10px;
}
.x6-red-jasper .ellipse-8-xyaQxa {
  background-color: transparent;
  border-radius: 5px;
  height: 10px;
  left: 0px;
  position: absolute;
  top: 29px;
  width: 10px;
}
.x6-red-jasper .ellipse-9-xyaQxa {
  background-color: transparent;
  border-radius: 5px;
  height: 10px;
  left: 0px;
  position: absolute;
  top: 55px;
  width: 10px;
}
.x6-red-jasper .group-6-jfcJq8 {
  background-color: transparent;
  height: 390px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 441px;
}
.x6-red-jasper .group-8-8HYVYq {
  background-color: transparent;
  height: 67px;
  left: 45px;
  position: absolute;
  top: 209px;
  width: 386px;
}
.x6-red-jasper .rectangle-1-8HYVYq {
  background-color: var(--log-cabin);
  border-radius: 15px;
  height: 390px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 429px;
}
.x6-red-jasper .rectangle-4-8HYVYq {
  background-color: transparent;
  height: 8px;
  left: 35px;
  mix-blend-mode: normal;
  position: absolute;
  top: 330px;
  width: 359px;
}
.x6-red-jasper .textlabel-06xEp9 {
  background-color: transparent;
  height: auto;
  left: 221px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 52px;
  width: 114px;
}
.x6-red-jasper .textlabel-8HYVYq {
  background-color: transparent;
  height: auto;
  left: 202px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 60px;
  width: 194px;
}
.x6-red-jasper .textlabel-KxgqHu {
  background-color: transparent;
  height: auto;
  left: 167px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 344px;
  width: 98px;
}
.x6-red-jasper .textlabel-UxYORj {
  background-color: transparent;
  height: auto;
  left: 221px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 26px;
  width: 151px;
}
.x6-red-jasper .textlabel-Y2VXxr {
  background-color: transparent;
  height: auto;
  left: 298px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: right;
  top: 344px;
  width: 98px;
}
.x6-red-jasper .textlabel-mXTKAO {
  background-color: transparent;
  height: auto;
  left: 22px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 52px;
  width: 163px;
}
.x6-red-jasper .textlabel-qdeVIB {
  background-color: transparent;
  height: auto;
  left: 22px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 26px;
  width: 151px;
}
.x6-red-jasper .textlabel-xCtm9X {
  background-color: transparent;
  height: auto;
  left: 221px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 155px;
}
.x6-red-jasper .textlabel-xyaQxa {
  background-color: transparent;
  height: auto;
  left: 22px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 155px;
}
.x6-red-jasper .textlabel-yAWARv {
  background-color: transparent;
  height: auto;
  left: 35px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 344px;
  width: 98px;
}
.x6-red-jasper .x-8HYVYq {
  background-color: transparent;
  height: 15px;
  left: 209px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 364px;
  width: 13px;
}
.x6-red-jasper .x-yAWARv {
  background-color: transparent;
  cursor: pointer;
  height: 15px;
  left: 402px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 15px;
  width: 13px;
}
.x6-red-jasper .x1-rose-quartz-8HYVYq {
  background-color: transparent;
  height: 212px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 212px;
}
