/* screen - 7 */

#overlay-7 {
  background-color: transparent;
  position: absolute;
}
#overlay-7 .7 {
  left: 29.767112731933594px;
  top: 246.76715087890625px;
}
#overlay-7 .container-center-horizontal {
  justify-content: normal;
}
.overlay .x7 {
  background-color: #00000000;
}
.x7 {
  background-color: transparent;
  height: 390px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 429px;
}
.x7 .ellipse-10-HWfqTx {
  background-color: transparent;
  border-radius: 5px;
  height: 10px;
  left: 199px;
  position: absolute;
  top: 3px;
  width: 10px;
}
.x7 .ellipse-11-HWfqTx {
  background-color: transparent;
  border-radius: 5px;
  height: 10px;
  left: 199px;
  position: absolute;
  top: 29px;
  width: 10px;
}
.x7 .ellipse-12-HWfqTx {
  background-color: transparent;
  border-radius: 5px;
  height: 10px;
  left: 199px;
  position: absolute;
  top: 55px;
  width: 10px;
}
.x7 .ellipse-3-PYJ3XT {
  background-color: var(--waterloo-);
  border-radius: 5px;
  height: 10px;
  left: 45px;
  mix-blend-mode: normal;
  position: absolute;
  top: 309px;
  width: 10px;
}
.x7 .ellipse-4-PYJ3XT {
  background-color: var(--twine);
  border-radius: 5px;
  height: 10px;
  left: 374px;
  mix-blend-mode: normal;
  position: absolute;
  top: 309px;
  width: 10px;
}
.x7 .ellipse-5-PYJ3XT {
  background-color: transparent;
  border-radius: 5px;
  height: 10px;
  left: 346px;
  position: absolute;
  top: 309px;
  width: 10px;
}
.x7 .ellipse-6-PYJ3XT {
  background-color: transparent;
  border-radius: 9.5px;
  height: 19px;
  left: 205px;
  position: absolute;
  top: 362px;
  width: 19px;
}
.x7 .ellipse-7-HWfqTx {
  background-color: transparent;
  border-radius: 5px;
  height: 10px;
  left: 0px;
  position: absolute;
  top: 3px;
  width: 10px;
}
.x7 .ellipse-7-PYJ3XT {
  background-color: var(--eagle);
  border-radius: 5px;
  height: 10px;
  left: 210px;
  mix-blend-mode: normal;
  position: absolute;
  top: 309px;
  width: 10px;
}
.x7 .ellipse-8-HWfqTx {
  background-color: transparent;
  border-radius: 5px;
  height: 10px;
  left: 0px;
  position: absolute;
  top: 29px;
  width: 10px;
}
.x7 .ellipse-9-HWfqTx {
  background-color: transparent;
  border-radius: 5px;
  height: 10px;
  left: 0px;
  position: absolute;
  top: 55px;
  width: 10px;
}
.x7 .group-6-ghx1W4 {
  background-color: transparent;
  height: 390px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 441px;
}
.x7 .group-8-PYJ3XT {
  background-color: transparent;
  height: 67px;
  left: 45px;
  position: absolute;
  top: 209px;
  width: 386px;
}
.x7 .rectangle-1-PYJ3XT {
  background-color: var(--log-cabin);
  border-radius: 15px;
  height: 390px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 429px;
}
.x7 .rectangle-4-PYJ3XT {
  background-color: transparent;
  height: 8px;
  left: 35px;
  mix-blend-mode: normal;
  position: absolute;
  top: 330px;
  width: 359px;
}
.x7 .textlabel-6xRoOv {
  background-color: transparent;
  height: auto;
  left: 35px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 344px;
  width: 98px;
}
.x7 .textlabel-HWfqTx {
  background-color: transparent;
  height: auto;
  left: 22px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 155px;
}
.x7 .textlabel-I1js5Q {
  background-color: transparent;
  height: auto;
  left: 167px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 344px;
  width: 98px;
}
.x7 .textlabel-PV8tAx {
  background-color: transparent;
  height: auto;
  left: 22px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 26px;
  width: 151px;
}
.x7 .textlabel-PYJ3XT {
  background-color: transparent;
  height: auto;
  left: 202px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 60px;
  width: 194px;
}
.x7 .textlabel-Q7QXCJ {
  background-color: transparent;
  height: auto;
  left: 221px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 52px;
  width: 130px;
}
.x7 .textlabel-REk3Ur {
  background-color: transparent;
  height: auto;
  left: 221px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 155px;
}
.x7 .textlabel-kJvsjr {
  background-color: transparent;
  height: auto;
  left: 298px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: right;
  top: 344px;
  width: 98px;
}
.x7 .textlabel-rxH5TD {
  background-color: transparent;
  height: auto;
  left: 221px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 26px;
  width: 151px;
}
.x7 .textlabel-zLxaJZ {
  background-color: transparent;
  height: auto;
  left: 22px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 52px;
  width: 163px;
}
.x7 .x-6xRoOv {
  background-color: transparent;
  cursor: pointer;
  height: 15px;
  left: 402px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 15px;
  width: 13px;
}
.x7 .x-PYJ3XT {
  background-color: transparent;
  height: 15px;
  left: 209px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 364px;
  width: 13px;
}
.x7 .x1-rose-quartz-PYJ3XT {
  background-color: transparent;
  height: 212px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 212px;
}
